* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee; 
}

#navbarContainer {
	background-color: transparent;
	/*background-color: green;*/
}
nav#navbar {
	position: fixed;
	min-height: 100px;
	z-index: 9999;
	width:100%;
}

div#app {
	min-height: 100vh;
}

div#landing {
	background-image: linear-gradient(
	        rgba(39, 27, 142, 0.94),
	        rgba(58, 81, 197, 0.88)),
	    url(../images/landing.jpg);

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

@media (min-width: 1200px) { 
	nav#navbar {
		width:83.33%;
	}
}